{% extends "base.html" %} 





{% block content %}

<div class="plogin" >
<strong><p> login Form</p></strong>
</div>
  <form action = "http://localhost:5000/loginEmail" method = "post">
         <p>Enter Email : </p>
         <p><input type = "text" name = "email" /></p>
         <p>Enter password: </p>
          <p><input type="password" name="pass"></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

 
    <hr>
<h3> OR login with any of these social media accounts:  </h3>

<a href="http://localhost:5000/loginGit" class="fa fa-Git">  Sign in with Github</a>
  <a href="http://localhost:5000/loginGoogle" class="fa fa-google">  Sign in with Google</a>

{% endblock %} 






